@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

		h1{
			font-family: 'Roboto', sans-serif;
			opacity:0.5;
			margin: 0 0 10px 0;
		}
		h1:hover
		{
        	opacity:1;
		}
		.formulario{
			border: 1px solid gray;
			border-radius: 10px;
			padding: 20px;
			width: 30%;
			background-color: whitesmoke;
		}
		.botao{
			padding: 0px 0px;
		}
		label{
			font-family: 'Roboto', sans-serif;
			width: 200px;
		}
		.botao{
			padding: 10px 0px;
		}
		button{
			background-color:white;
			padding: 5px;
			border: 1px solid gray;
		}
		button:hover{
			background-color: gray;
			color:white;
		}
		.fas{
			margin-right: 3px;
		}
		option{
			font-family: 'Roboto', sans-serif;
		}
		.campos{
			margin-top: 10px;
		}
		select{
			width: 180px;
		}